<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.android.footstamp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StampApplication"
        android:allowBackup="true"
        android:icon="@drawable/addlogo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/addlogo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.FootStamp"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity
            android:name=".activity.BoardInsideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">

            <!-- 시작할때 스플래시를 먼저 실행 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>